.link {
    color: white;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
}

.link-active {
    background-color: #1b5e20;
    border-radius: 16px;
    color: white;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
}
